<%inherit file="/homepage/templates/app_base.htm" />

<%block name="content_head">
    <div class="container text-center">
      <h3>Users</h3>
    </div>
</%block>

<%block name="left_aside">
</%block>

<%block name="main">
   <a href="/manager/users.create/" class="btn btn-primary" style="margin-bottom: 15px;">Create New User</a>
   <table class="table table-striped">
       <tr>
           <th>Username</th>
           <th>First Name</th>
           <th>Last Name</th>
           <th>Email</th>
           <th>Groups</th>
           <th>Actions</th>
       </tr>
       %for user in users:
       <tr>
           <td>${user.username}</td>
           <td>${user.first_name}</td>
           <td>${user.last_name}</td>
           <td>${user.email}</td>
           <td>
               %for group in user.groups.all():
                ${group.name}
               %endfor
           </td>
           <td><a href="/manager/users.edit/${user.id}/">Edit</a> | <a class="users_delete_link" href="/manager/users.delete/${user.id}/">Delete</a></td>
       </tr>
       %endfor
   </table>
   
<div class="modal fade" id="users_delete_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Delete This User?
      </div>
      <div class="modal-footer">
        <a id="users_confirm_delete_modal" href="" class="btn btn-danger">Delete</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</%block>

<%block name="right_aside">
</%block>