<%inherit file="app_base.htm" />

<%block name="content_head">
    <div class="container text-center">
      <h3>FAQ Page</h3>
    </div>
</%block>

<%block name="left_aside">
</%block>

<%block name="main">
    <div class="col-sm-12 center_divider">
        <h3>Questions</h3>
        <p>When was Colonial Heritage Foundation founded?</p>
        <ul>
            <li>It was founded in 1996</li>
        </ul>
        <p>When is the next Colonial Heritage Foundation event?</p>
        <ul>
            <li>This Saturday 1/23/16 at 10am.</li>
        </ul>
        <p>Who is the founder of the Colonial Heritage foundation?</p>
        <ul>
            <li>The founder is Gove Allen...I think</li>
        </ul>
    </div>
</%block>

<%block name="right_aside">
</%block>