<%inherit file="app_base.htm" />

<%block name="nav_links">
    <li id="index_tab"><a href="/homepage/index">Home</a></li>
    <li id="about_tab"><a href="/homepage/about">About</a></li>
    <li id="contact_tab"><a href="/homepage/contact">Contact</a></li>
    <li id="terms_tab"><a href="/homepage/terms">Terms</a></li>
    <li id="faq_tab"><a href="/homepage/faq">FAQ</a></li>
    <li id="sections_tab"><a href="/homepage/sections">Sections</a></li>
</%block>

<%block name="content_head">
    <div class="container text-center">
      <h3>Sections Page</h3>
    </div>
</%block>

<%block name="left_aside">
    <div class="col-sm-2 left_divider">
        <h3 class="text-center">Left</h3>
    </div>
</%block>

<%block name="main">
    <div class="col-sm-8 center_divider">
        <h3 class="text-center">Center</h3>
    </div>
</%block>

<%block name="right_aside">
    <div class="col-sm-2 right_divider">
        <h3 class="text-center">Right</h3>
    </div>
</%block>